/*!
  Knockout Modal
  License: MIT
*/

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);
body {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  text-align: center;
}


.kom-contents {
  max-width:800px;
  margin: 0 auto;
  padding: 15px;
}

.large {
  font-size: 1.5em;
}
