/*!
* Knockout-Modal
* MIT licensed
*/
.kom-active body {
  overflow: hidden;
}

.kom-active .kom-contents {
  filter: blur(3px);
  transform: scale( 0.9 );
}

.kom-modal {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translate3d(0,0,0);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  .kom-active & {
    z-index: 900;
    opacity: 1;
    visibility: visible;
  }
}

.kom-modal ~ .kom-modal {
  .kom-modal-content {
    margin-top: 20px;
  }
}

.kom-dialog {
  position: relative;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.kom-modal-content {
  padding: 12px 1em;
  margin: 8px;
  position: relative;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  box-shadow: 3px 5px 5px rgba(0,0,0,0.4);
  background-clip: padding-box;
  overflow: hidden;
  outline: 0;
  transform-origin: 50% 25%;
  animation-name: kom_animation;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.kom-remove-animation {
  transition: 0.3s transform cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: scale3d(0,0,0);
}

@keyframes kom_animation {
  from { transform: scale3d(0,0,0); }
  to { transform: scale3d(1,1,1); }
}

.kom-close {
  position: absolute;
  width: 65px;
  border: 1px solid rbga(0,0,0,0.5);
  right: -22px;
  top: -7px;
  cursor: n-resize;
  background-color: rgba(0,0,240,0.5);
  z-index: 1100;
  transform: rotate(45deg);
  text-align: center;
  color: white;
  padding-top: 12px;
  &:after {
    content: '\21a9';
    transform: rotate(45deg);
    display: inline-block;
  }

  &:hover {
    color: yellow;
    background-color: rgba(0,0,150, 0.8);
  }
}

.kom-contents {
  transition: 0.3s all;
}

/* .kom-modal */.kom-active {
  transition: 0.3s padding;
  .kom-modal-content {
    transition: 0.3s transform;
  }
}

/* .kom-modal */.kom-inactive {
  z-index: -1;

  transition: 0.3s padding;
  &.kom-pushed {
    padding-top: 100%;
  }

  &.kom-popped {
    padding-top: 0%;
  }

  .kom-modal-content {
    transform: rotateX(75deg) translateZ(35vh);
    transition: 0.3s transform;
    transform-origin: 0 0;
    transition: 0.3s transform;
  }
}
