/*!
* Knockout-Modal
* MIT licensed
*/
.kom-active body {
  overflow: hidden;
}

.kom-active .kom-contents {
  filter: blur(3px);
  transform: scale( 0.9 );
}

.kom-modal {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.kom-dialog {
  position: relative;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
}

.kom-modal-content {
  padding: 12px 1em;
  margin: 8px;
  position: relative;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  background-clip: padding-box;
  overflow: hidden;
  outline: 0;
  transform-origin: 50% 25%;
  animation-name: kom_animation;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.kom-remove-animation {
  transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: scale3d(0,0,0);
}

@keyframes kom_animation {
  from { transform: scale3d(0,0,0); }
  to { transform: scale3d(1,1,1); }
}

.kom-close {
  position: absolute;
  width: 65px;
  height: 25px;
  border: 1px solid rbga(0,0,0,0.5);
  right: -18px;
  top: -10px;
  cursor: n-resize;
  box-shadow: 8px 5px rgba(0,0,0,0.2);
  background-color: rgba(0,0,240,0.5);
  z-index: 1100;
  transform: rotate(45deg);
  text-align: center;
  color: white;
}

.kom-contents {
  transition: 0.3s all;
}
